<fieldset>
  <legend>Add Location</legend>
  <form>
    <label>Enter a zipcode:</label>
    <input type="text" [formControl]="input">
    <button type="button" (click)="addLocation()">Add location</button>
  </form>
</fieldset>

<fieldset *ngFor="let location of locations">
  <legend>{{location.name}}</legend>

  <p><strong>Conditions: </strong> {{ location.weather[0].description}}</p>
  <p><strong>Temperature: </strong> {{ location.main.temp.toFixed(0)}}</p>
  <p><strong>Temp min: </strong> {{ location.main.temp_min.toFixed(0)}}</p>
  <p><strong>Temp max: </strong> {{ location.main.temp_max.toFixed(0)}}</p>
  
  <!-- {{ location | json }} -->
</fieldset>